
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li{
    float: left;
}

.nav-btn {
    font-size: small;
    border: none;
    border-radius: 15px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: middle;
}

.nav-btn:hover{
    background-color: rgb(107, 196, 255);
}

section {
    margin: 0px;
}

#navigation{
    display: block;
    margin: 2rem 0px;
    /* background-color: #333333; */
}