<div class="card-parent">
    <div class="grow"></div>
    <div class="card">
        <div class="card-header">{{showSign2}}</div>
        <div class="card-body">
            <div>
                <form>
                    <div *ngIf="signUp"><div>Full Name <span style="color: red;">*</span></div>
                    <input class="input" [(ngModel)]="userData.firstName" name="firstName" type="name"><br/><br/></div>
                    <div *ngIf="signUp"><div>Full Name <span style="color: red;">*</span></div>
                    <input class="input" [(ngModel)]="userData.lastName" name="lastName" type="name"><br/><br/></div>
                    <div>Email address <span style="color: red;">*</span></div>
                    <input class="input" [(ngModel)]="userData.email" name="email" type="email"> <br/><br/>
                    <div>Password <span style="color: red;">*</span></div>
                    <input class="input" [(ngModel)]="userData.password" name="password" type="password"><br/><br/>
                    <button *ngIf="signUp" (click)="submitForm()" class="btn-primary submit radius" type="submit">Submit</button>
                    <button *ngIf="!signUp" (click)="submitForm()" class="btn-success submit radius" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">{{showHave}} <a class="btn" (click)="toggle()">{{showSign1}}</a></div>
    </div>
</div>