<div id="list-component">
    <h4>{{booklist.categoryName}}</h4>
    <div class="item" *ngFor="let book of booklist.books">
        <div class="img-section">
            <img src="{{book.cover}}" alt="book cover image">
        </div>
        <div class="info-section text-left">
            <p class="title">{{book.name}}</p>
            <p class="author"> {{book.author}}</p>
            <p class="description font-smaller mt-4">{{book.description}}</p>
        </div>
        <div class="action-section">

            <a href="{{book.book}}" download="{{book.name}}" class="btn btn-dark mb-2 text-white">Download</a>
            <a class="btn btn-danger text-white">Add to favourites</a>
        </div>
    </div>
</div>