<div class="add">
    <p>Select Category</p>
    <select [(ngModel)]="bookForm.category" id="categories">
        <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
    </select>
    <input placeholder="Book name" type="text" [(ngModel)]="bookForm.name" name="bookName">
    <input placeholder="Book author" type="text" [(ngModel)]="bookForm.author" name='author'>
    <textarea  placeholder="Book description" type="text" [(ngModel)]="bookForm.description" name='description'></textarea>
    <input type="file" [(ngModel)]="bookForm.cover" name='cover'>
    <input type="file" [(ngModel)]="bookForm.book" name='file'>
    <button (click)="addBook()" class="btn btn-sm btn-success">Add Category</button>
</div>